* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6c757d;
    color: white;

}

#header {
    width: 100%;
    height: 2.8em;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.8em;
    padding: 0 40px 0;
}

.HeaderLinks {
    text-decoration: none;
    font-size: 0.9em;
    color: black;
}

a::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: brown;
    position: absolute;
    left: 0;
    bottom: -6px;
}

.HeaderTitle {
    color: black;
    position: fixed;
    left: 10px;
}

.downloadResume {
    background-color: bisque;
    columns: black;
    width: 5em;
    height: 1.5em;
    border-radius: 5px;
    padding: 1px 4px 2px 4px;
    border: 1.5px solid black;
}















/* loading page animation */

body,
html {
    height: 100%;
    text-align: center;
}

body {
    background-color: #d9d9d9;
}

.loadingAnimation {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 100px;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 250px;
    border: 4px solid #Fff;
    animation: loader 2s infinite e9ase;

}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: white;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}