@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Slide {
    height: 570px;
    background-color: #fefae0;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#header {
    width: 100%;
    background-color: #fefae0;
    display: flex;
    align-items: top;
    justify-content: right;
    gap: 0.6em;
    padding: 20px 40px 0;
}

.Resume {
    text-decoration: none;
    font-size: 15px;
    color: #582f0e;
    height: 1.3em;
    width: 5em;
    padding: 1px 4px 4px 4px;
    font-family: 'Titillium Web', sans-serif;
}

.HeaderLinks {
    text-decoration: none;
    font-size: 15px;
    color: #8b5e34;
    height: 1.3em;
    width: 5em;
    border-radius: 5px;
    padding: 1px 2px 1px 2px;
    font-family: 'Titillium Web', sans-serif;
}



.HeaderTitle {
    color: #774936;
    position: absolute;
    left: 30px;
    font-family: 'Monomaniac One', sans-serif;
    font-size: 25px;
}

/* introSection */

.intro {
    height: 260px;
    width: 550px;
    margin: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    gap: 5px;
}

.intro_S {
    color: #6f4518;
    text-align: left;
    font-size: 15px;
}

.intro_B {
    color: #583101;
    text-align: left;
    font-size: 50px;
    font-family: 'Concert One', cursive;
}

.intro_C {
    color: #a47148;
    text-align: left;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}


.intro_D {
    color: #a47148;
    text-align: left;
    width: 300px;
    font-family: 'Barlow', sans-serif;
}

.dropdown {
    position: relative;
    left: 0;
    width: 150px;
    margin-top: 5px;
    margin: 0;
    border-radius: 30;
    display: flex;
    justify-content: left;
}

.link {
    border-radius: 20px;
    padding: 6px 12px 6px 12px;
    font-size: 15px;
    background-color: #a47148;
    color: white;
    border: 0;
    font-size: 13px;
    font-family: 'Barlow', sans-serif;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: 33px;
    top: calc(100%+0.25rem);
    background-color: #fefae0;
    color: black;
    border-radius: .25rem;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 144px;
    align-items: left;
}

.dropLinks {
    text-decoration: none;
    font-size: 0.9em;
    color: #606c38;
    height: 1.3em;
    width: 5em;
    border-radius: 5px;
    padding: 1px 2px 1px 2px;
}

.dropdown.active>.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


/* timeline */

.timelineSlide {
    height: 570px;
    background-color: #dda15e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timeline {
    background-color: #dda15e;
    height: 100%;
    width: 90%;
    padding: 20px 20px 20px 20px;
    gap: 40px;
}

.containerL {
    position: relative;
    left: 15%;
    width: 30%;
    background-color: #fff;
    height: 20%;
    top: 20px;
    display: flex;
    align-items: center;
}

.containerR {
    position: relative;
    left: 55%;
    width: 30%;
    background-color: #fff;
    height: 20%;
    top: 20px;
    display: flex;
    align-items: center;
}



.containerTextL {
    position: relative;
    left: 30%;
}

.containerTextR {
    position: relative;
    left: 20%;
}

.containerimgleft {
    border-radius: 50%;
    width: 40px;
    position: relative;
    left: 245px;
    z-index: 11;
}

.containerimgright {
    border-radius: 50%;
    width: 40px;
    position: relative;
    left: -75px;
    z-index: 2;

}


.timelineHead {
    color: black;
}

.timelineDet {
    color: black;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 60%;
    background-color: white;
    top: 120%;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}












/* loading page animation */

body,
html {
    height: 100%;
    text-align: center;
}

body {
    background-color: #d9d9d9;
}

.loadingAnimation {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 100px;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 250px;
    border: 4px solid #Fff;
    animation: loader 2s infinite e9ase;

}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: white;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}